<section class="bg-[#493b69] text-white pt-8 md:pt-12 pb-8 md:pb-10" id="about">
  <div class="container">
    <h2>Свято музики та&nbsp;гір продовжується!</h2>
    <div class="prose">
      <p>Нова локація, нові краєвиди, нові враження.</p>
      <p>10-й ювілейний Карпати Kapukafest відбудеться на&nbsp;День Незалежності, з&nbsp;21&nbsp;по&nbsp;24&nbsp;серпня 2021&nbsp;року.</p>
      <p>Головна пригода літа в&nbsp;дружній компанії та&nbsp;зовсім нова локація, поєднання гір, лісу, скель, висоти.</p>
      <p>Три вечори музики, нічної ватри, поселення в&nbsp;номерах зі&nbsp;зручностями або&nbsp;ж в&nbsp;наметовому містечку (на&nbsp;ваш вибір).</p>
      <p>Організований проїзд у&nbsp;фестивальному вагоні та&nbsp;трансфер з&nbsp;вокзалу до&nbsp;локації фестивалю.</p>
    </div>
  </div>
</section>
