<section class="bg-gradient-to-b from-[#fd9d79] via-[#fda27c] to-[#fdab91] relative z-0 overflow-hidden" id="intro">
  <div id="scene"
    class="absolute left-1/2 top-1/2 transform -translate-x-1/2 -translate-y-1/2 scale-120 md:scale-108 w-full h-full"
    aria-hidden="true"
    hidden
    style="display: block"
  >
    <picture>
      <source srcset="/images/layer-1-sm.webp" media="(max-width: 767.98px)" type="image/webp">
      <img src="/images/layer-1.webp"
        class="absolute w-full h-full object-cover transition-transform duration-1000 ease-out"
        data-speed="0"
      >
    </picture>
    <picture>
      <source srcset="/images/layer-2-sm.webp" media="(max-width: 767.98px)" type="image/webp">
      <img src="/images/layer-2.webp"
        class="absolute w-full h-full object-cover transition-transform duration-1000 ease-out"
        data-speed="1"
      >
    </picture>
    <picture>
      <source srcset="/images/layer-3-sm.webp" media="(max-width: 767.98px)" type="image/webp">
      <img src="/images/layer-3.webp"
        class="absolute w-full h-full object-cover transition-transform duration-1000 ease-out"
        data-speed="2"
      >
    </picture>
    <picture>
      <source srcset="/images/layer-4-sm.webp" media="(max-width: 767.98px)" type="image/webp">
      <img src="/images/layer-4.webp"
        class="absolute w-full h-full object-cover transition-transform duration-1000 ease-out"
        data-speed="3"
      >
    </picture>
    <picture>
      <source srcset="/images/layer-5-sm.webp" media="(max-width: 767.98px)" type="image/webp">
      <img src="/images/layer-5.webp"
        class="absolute w-full h-full object-cover transition-transform duration-1000 ease-out"
        data-speed="4"
      >
    </picture>
    <picture>
      <source srcset="/images/layer-6-sm.webp" media="(max-width: 767.98px)" type="image/webp">
      <img src="/images/layer-6.webp"
        class="absolute w-full h-full object-cover transition-transform duration-1000 ease-out"
        data-speed="5"
      >
    </picture>
  </div>
  <div class="container pointer-events-none">
    <h1 class="intro animated h-screen flex flex-col justify-center text-center uppercase text-[#ffe2a4] mx-auto max-w-[732px] px-4 md:px-0 py-10">
      <div class="text-base lg:text-2xl font-light tracking-widest">
        Десятий щорiчний лiтнiй фестиваль
      </div>
      <div class="my-6 flex-shrink-0">
        <img src="/images/logo.svg" class="block max-w-full" width="700" height="242" alt="">
        <span class="sr-only">Карпати Kapukafest</span>
      </div>
      <div class="text-lg md:text-xl lg:text-4xl tracking-widest">
        21–24 серпня 2021
      </div>
    </h1>
  </div>
  <a href="#about"
    class="link-anchor text-white absolute left-1/2 bottom-10 transform -translate-x-1/2 w-12 h-10 flex items-center justify-center opacity-50 hover:opacity-100"
    title="Гортати вниз"
    aria-label="Гортати вниз"
  >
    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="h-8 w-8 animate-bounce" viewBox="0 0 16 16">
      <path fill-rule="evenodd" d="M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z"/>
    </svg>
  </a>
</section>
