<section class="bg-[#493b69] text-white py-8 md:py-10" id="schedule">
  <div class="container">
    <div class="max-w-lg">
      <h2>Розклад</h2>
      <div class="prose">
        <p>Виїзд 20&nbsp;серпня в&nbsp;п&rsquo;ятницю о&nbsp;15:02 з&nbsp;Києва, та&nbsp;о 15:47 з&nbsp;Одеси.</p>
        <p>Прибуття груп на&nbsp;локацію фестивалю 21&nbsp;серпня приблизно о&nbsp;11-12&nbsp;годині, зустріч груп.</p>
        <h3>21&nbsp;серпня</h3>
        <ul>
          <li>12:00–18:00&nbsp;&mdash; поселення, харчування, прогулянки довкола, вільний час, релакс тощо</li>
          <li>18:00–20:00&nbsp;&mdash; концерт-відкриття фестивалю</li>
          <li>20:00–21:00&nbsp;&mdash; вечеря</li>
          <li>21:00–00:00&nbsp;&mdash; продовження концерту</li>
        </ul>
        <p>Після опівночі&nbsp;&mdash; нічна ватра!</p>
        <h3>22&nbsp;серпня</h3>
        <ul>
          <li>09:00–10:00&nbsp;&mdash; сніданок</li>
          <li>
            <p>10:00&nbsp;&mdash; виїзд на&nbsp;Чорногірській хребет, гору Бребенескул і&nbsp;на&nbsp;одноіменне озеро.</p>
            <p>10&nbsp;км довозить машина (платно, за&nbsp;бажанням), решта пішки.</p>
            <p>Там робимо пікнік і&nbsp;о&nbsp;17:00 повертаємось до&nbsp;локації.</p>
          </li>
          <li>19:00–20:00&nbsp;&mdash; концерт</li>
          <li>20:00–21:00&nbsp;&mdash; вечеря</li>
          <li>21:00–00:00&nbsp;&mdash; продовження концерту</li>
        </ul>
        <p>Після опівночі&nbsp;&mdash; нічна ватра!</p>
        <h3>23&nbsp;серпня</h3>
        <ul>
          <li>09:00–10:00&nbsp;&mdash; сніданок</li>
          <li>11:00&nbsp;&mdash; екскурсія до&nbsp;Рахова, до&nbsp;музею гуцульської бриндзи, етнографії (оплачуються окремо, за&nbsp;бажанням), до&nbsp;пивоварні Ципа та&nbsp;джерела Буркут (250 грн з&nbsp;особи за&nbsp;проїзд)</li>
          <li>18:00&nbsp;&mdash; повертаємось на&nbsp;локацію фестивалю</li>
          <li>19:00–20:00&nbsp;&mdash; концерт</li>
          <li>20:00–21:00&nbsp;&mdash; вечеря</li>
          <li>21:00–00:00&nbsp;&mdash; продовження концерту</li>
        </ul>
        <p>Після опівночі&nbsp;&mdash; нічна ватра!</p>
        <h3>24&nbsp;серпня</h3>
        <ul>
          <li>9:00–11:00&nbsp;&mdash; збір наметового містечка, виселення з&nbsp;номерів, сніданок</li>
          <li>11:00–13:00&nbsp;&mdash; прощання, від&rsquo;їзд груп відповідно до&nbsp;потяга.</li>
        </ul>
        <h3>25&nbsp;серпня</h3>
        <p>Прибуття групп о&nbsp;6:48 до&nbsp;Києва&nbsp;та об&nbsp;11:24 до&nbsp;Одеси.</p>
      </div>
    </div>
  </div>
</section>
