@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  a {
    @apply transition;
  }

  h2 {
    @apply text-2xl md:text-3xl lg:text-4xl font-bold mb-8;
  }

  h3 {
    @apply font-bold mb-1;
  }
}

@layer components {
  .btn {
    @apply inline-block py-2 px-6 font-bold text-center rounded-md shadow-md border border-transparent focus:outline-none focus:ring transition disabled:opacity-50 disabled:cursor-not-allowed;
  }

  .btn-green {
    @apply bg-green-500 text-white hover:bg-green-600 focus:ring-green-600 focus:ring-opacity-50 disabled:bg-green-500;
  }

  .btn-indigo {
    @apply bg-indigo-500 text-white hover:bg-indigo-600 focus:ring-indigo-600 focus:ring-opacity-50 disabled:bg-indigo-500;
  }

  .btn-outline-white {
    @apply bg-transparent text-white border-white hover:bg-white hover:bg-opacity-5 focus:ring-white focus:ring-opacity-50;
  }

  .btn-iconic {
    @apply inline-flex items-center space-x-2;
  }

  .btn-telegram {
    @apply bg-telegram-500 text-white hover:bg-telegram-600 focus:ring-telegram-600 focus:ring-opacity-50 disabled:bg-telegram-500;
  }

  .btn-viber {
    @apply bg-viber-500 text-white hover:bg-viber-600 focus:ring-viber-600 focus:ring-opacity-50 disabled:bg-viber-500;
  }

  .btn-messenger {
    @apply bg-messenger-500 text-white hover:bg-messenger-600 focus:ring-messenger-600 focus:ring-opacity-50 disabled:bg-messenger-500;
  }

  .form-control {
    @apply w-full block rounded-md shadow-none bg-white bg-opacity-5 border-white border-opacity-60 focus:border-indigo-300 focus:outline-none focus:ring focus:ring-indigo-400 focus:ring-opacity-50 transition placeholder-white placeholder-opacity-50 focus:placeholder-opacity-25;
  }

  .form-control:-webkit-autofill,
  .form-control:-webkit-autofill:hover,
  .form-control:-webkit-autofill:focus,
  .form-control:-webkit-autofill:active {
    -webkit-text-fill-color: #fff;
    transition: background-color 86400s;
  }

  select {
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' fill='none' viewBox='0 0 20 20'%3e%3cpath stroke='%23fff' stroke-opacity='.6' stroke-linecap='round' stroke-linejoin='round' stroke-width='1.5' d='M6 8l4 4 4-4'/%3e%3c/svg%3e");
  }

  select option {
    @apply bg-gray-800;
  }

  .prose a {
    @apply text-white font-bold underline hover:no-underline;
  }

  .prose ul > li:last-child {
    @apply mb-0;
  }

  .alert {
    @apply border rounded-md py-3 px-4 text-xs;
  }

  .alert-inner {
    @apply flex items-center space-x-4;
  }

  .alert-success {
    @apply border-green-700 bg-green-500 bg-opacity-10 text-green-300;
  }

  .alert-error {
    @apply border-red-700 bg-red-500 bg-opacity-10 text-red-300;
  }

  .alert-info {
    @apply border-blue-700 bg-blue-500 bg-opacity-10 text-blue-300;
  }
}

html {
  scroll-behavior: smooth;
}

.intro {
  height: calc(var(--vh, 1vh) * 100) !important;
}
