<!DOCTYPE html>
<html lang="uk">
<head>
  <title>Десятий щорiчний лiтнiй фестиваль Карпати Kapukafest | 21-24 серпня 2021</title>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="description" content="Акустичний фестиваль просто неба в українських Карпатах">
  <meta name="theme-color" content="#493b69">

  <meta property="og:url" content="https://kapukafest.site/">
  <meta property="og:type" content="website">
  <meta property="og:title" content="Карпати Kapukafest">
  <meta property="og:description" content="Акустичний фестиваль просто неба в українських Карпатах">
  <meta property="og:image" content="https://kapukafest.site/images/social.png">
  <meta name="twitter:site" content="https://kapukafest.site/">
  <meta name="twitter:card" content="summary_large_image">
  <meta name="twitter:title" content="Карпати Kapukafest">
  <meta name="twitter:description" content="Акустичний фестиваль просто неба в українських Карпатах">
  <meta name="twitter:image" content="https://kapukafest.site/images/social.png">

  <link rel="icon" href="/favicon.ico">
  <link rel="icon" href="/favicon.svg" type="image/svg+xml">
  <link rel="apple-touch-icon" href="/apple-touch-icon.png">
  <link rel="manifest" href="/site.webmanifest">

  <link rel="preconnect" href="https://fonts.gstatic.com">
  <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Comfortaa:wght@300;400;700&display=swap">

  <link rel="stylesheet" href="/css/styles.css?ver=1.1"></link>

  <!-- Global site tag (gtag.js) - Google Analytics -->
  <script async src="https://www.googletagmanager.com/gtag/js?id=G-E3DP2TY77Y"></script>
  <script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());

    gtag('config', 'G-E3DP2TY77Y');
  </script>
</head>
<body class="selection:bg-[#7b5a8c]">
  <main class="animated">
    {% include 'includes/intro.njk' %}
    {# {% include 'includes/about.njk' %}
    {% include 'includes/lineup.njk' %}
    {% include 'includes/schedule.njk' %}
    {% include 'includes/payment.njk' %}
    {% include 'includes/register.njk' %}
    {% include 'includes/contacts.njk' %} #}
  </main>
  <script src="/js/app.js?ver=1.1"></script>
  {# <script src="https://www.google.com/recaptcha/api.js?hl=uk" async defer></script> #}
</body>
</html>
